/*==GLOBAL CSS==*/
* {
  box-sizing: border-box;
  font-weight: 100;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e7e7e7;
  color: #313131;
}

img {
  width: 100%;
  height: 100%;
}
video {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 20px #021258;
}
#offcanvasRight{
  background-color: #edeced ;
}
a {
  text-decoration: none;
  color: #313131;
}
#oo{
  border: none;
    background-color:  transparent;
    color:   #313131;
  
  }
:root {
  --colorTITRE: #99705e;
  --colorBACK: #fefaf5;
  --colorCLAIRE: #dec1a9;
  --colorTRAIt: #4a2e25;
}
#boxi {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  box-shadow: 5px 5px 20px #021258;
}
#boxi::-webkit-scrollbar {
  display: none;
}
#boxi img {
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
}
#boxi img:hover {
  transform: scale(1.3);
}

svg:hover {
  transform: scale(1.3);
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 7px 15px !important;
  color: #313131;
  border: 1px solid #2a43a4;
  font-size: 0.8rem;
}

/*==NAVBAR==*/
nav .part1 .logo {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav .part1 .logo img {
  width: 80px;
  height: 80px;
}
nav {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

nav .part1 .cordo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

nav .part1 .outils {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
nav .part1 .outils .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .part1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

nav .part2 ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#oo{
  display: none;
}
nav ul li {
  position: relative;
  overflow: scroll;
  padding: 7px 20px;
}
nav ul li::-webkit-scrollbar {
  display: none;
}

nav ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  border-top: 2px solid #2a43a4;
  border-left: 2px solid #2a43a4;
}

nav ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 0%;
  border-bottom: 2px solid #2a43a4;
  border-right: 2px solid #2a43a4;
}
.acceuil nav ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  border-top: 2px solid white;
  border-left: 2px solid white;
}


.acceuil ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 0%;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
nav ul li:hover::after {
  animation: listE 0.3s ease;
  width: 100%;
  height: 100%;
}

nav ul li:hover::before {
  animation: liste 0.3s ease;
  width: 100%;
  height: 100%;
}
@keyframes liste {
  0% {
    width: 0%;
    height: 0;
  }
  50% {
    width: 100%;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.search{
 background-color: transparent;
 border: 1px solid blue;
 color: #313131;
 font-weight: 100;
margin: 0;
}
.acceuil #search{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 100;
 
 }
 .acceuil #search::placeholder{
  color: white;
  font-weight: 100;
}
#search::placeholder{
  color: #313131;
  font-weight: 100;
}
/*==ajouter==*/

.c2 {
  color: #2a43a4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.c2 > div {
  font-size: 3rem;
}
/*==CARDS==*/
.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 20px #021258;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004);

  transform-origin: center;
  transform: perspective(1000px) rotateY(25deg);
  transition: 0.5s;
}
.container {
  position: relative;
  padding: 0;
}
.container:hover img {
  opacity: 0.3;
}
.container img:hover {
  transform: perspective(1000px) rotateY(10deg);
  opacity: 1;
}

nav h5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
font-size: 1rem;
}
.two{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
 
gap: 20px;
}
.forma {
  display: none;
}
.forma.open {
  display: flex;

width: 100%;
  position: relative;
}
.fff h1{
color: white !important;


}
.x {
  background-color: rgb(38, 114, 195);
  position: absolute;
  right: -1rem;
  top: -1rem;

  color: white;
  border-radius: 50%;
  font-size: 22px;
  font-weight: 900;
  padding: 10px 15px;
}
.fff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(100px);
  gap: 30px;
  position: fixed;
  background-image: url(./assets/con.jpeg);

  z-index: 9999;
  top: 0;
  left: 0;
}
/*==acceuil==*/
.acceuil1 {
  position: relative;
  background-image: url(src/assets/Acc.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 99;
  color: white;
  box-shadow: 5px 5px 20px #021258;
}
.acceuil #oo{
  color: white ;
}
.acceuil .des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acceuil1 button {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 7px 15px !important;
  color: white;
  border: 1px solid white;
  font-size: 0.8rem;
}
#pp{
  background-image: none;
  color: #313131 !important;
}
/*==CONNECT==*/
.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: rgb(248, 238, 240);
 
  justify-content: center;
  display: flex;
  margin: 50px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.login label {
  color: rgb(248, 238, 240);
  transform: scale(0.6);
}
.connect input{
  width: 80%
}

  input {
  
  height: 40px;
  background: white;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: rgb(59, 113, 144);
  font-weight: 700;
}

input::placeholder {
  color: rgb(59, 113, 144);
  font-weight: 600;
}
.main1 {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  background-image: url(./assets/con.jpeg);
  border-radius: 10px;
  box-shadow: 5px 5px 20px #021258;
}

#chk {
  display: none;
}

.login {
  height: 460px;
  background-image: url(./assets/con.jpeg);
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}
.main1 button , .fff button{
  width: 60%;
  height: 100%;
  margin: 10px auto;
  justify-content: center;
  display: block;
  font-weight: 600;
  margin-top: 20px;
  color: white;
  font-size: 1rem;
  border: 1px solid white;
}

/*==FOOTER==*/
.footer .lien {
  width: 100%;
  height: 100%;
}
.footer {
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-shadow: 5px 5px 20px #021258;
}
.footer .lien ul li {
  line-height: 1.5rem;
}
.footer .lien ul > li:nth-child(1) {
  color: #2a43a4;
}

.footer .lien ul > li:not(:nth-child(1)) {
  margin-left: 2rem;
  color: #696868;
}
.footer .lien ul > li:not(:nth-child(1)):hover {
  color: black;
}
.footer .copyright p {
  text-align: center;
  color: #2a43a4;
}
.footer .reseaux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*==CHATBOT==*/

.ChatBot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  width: 100%;
}
.wrapper {
  width: 100%;

  background-image: url(./src/assets/con.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  border-radius: 20px;
  box-shadow: 5px 5px 20px #021258;
  height: 100%;
}
.wrapper .content .header {
  display: flex;
  align-items: center;
}
.wrapper .content .header .img img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.wrapper .content .header .right {
  margin-left: 10px;
}
.wrapper .content .header .right .name {
  color: #fff;
}
.wrapper .content .header .right .status {
  color: green;

}

.wrapper .content .main_content .messages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .content .main_content .messages .bot-message {
  width: 100%;
  padding: 15px;
  text-align: center;
  background: #edeced;
  font-style: 1.1em;

  color: rgb(10, 39, 78);
  font-weight: 600;
}
.wrapper .content .main_content .messages .human-message {
  width: 100%;
  padding: 15px;
  text-align: center;
  background: rgba(10, 39, 78, 0.836);
  color: white;
  font-style: 1.1em;
  border-radius: 10px;
  position: relative;
  top: 120px;
  right: 10px;
  margin-bottom: 20px;
 
}
.wrapper .content .bottom {
  margin: 120px 0 0;
}
.wrapper .content .bottom .btm .input input::placeholder {
  color: rgb(10, 39, 78);

}
.wrapper .content .bottom .btm .input input {
  height: 58px;
margin: 0 !important ;
  outline: none;
  border: none;
  background-color: #edeced;
  box-sizing: border-box;
  border-radius: 5px;
  color: rgb(10, 39, 78);

}


.wrapper .content .bottom .btm .btn button {
  width: 100%;

  border-radius: 5px;
  border: none;
  background: rgba(10, 39, 78, 0.836);
  color: #fff;


}
.btn{
  padding: 0;
}
.wrapper .content .bottom .btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/*==statistique==*/

.statistique {
  width: 100%;
  height: 100%;
}
.statistique h1,
.id1 h1 {
  color: #2a43a4;
}
.id1 h2 {
  color: #313131;
}

.st {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 1rem;
  box-shadow: 5px 5px 20px #021258;
}
.raportt {
  width: 100%;
  height: 100%;
}
.r1 {
  width: 100%;
  height: 100%;
}

/*==CARDS==*/

/*==introuvable==*/

.introuvable {
  background-image: url("/src/assets/intro.png");
  background-position: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
/*==BLOG==*/
.blog1 h1 {
  color: #2a43a4;
}
/*==À PROPOS==*/

.apropos h1 {
  color: #2a43a4;
}
.vd1 {
  width: 100%;
  height: 100%;
}
/*==BLOG==*/
.blog {
  width: 100%;
  height: 100%;
}

.conduire1 {
  max-width: 100%;
  height: 100%;
}
.b11 {
  max-width: 100%;
  height: 100%;
}
.blog h2,
.afficher h1 {
  color: #2a43a4;
}
/*==charte==*/
.Charte {
  max-width: 100%;
  height: 100%;
}
canvas {
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.charti {
  max-width: 100%;
  height: 100%;
}
.afficher {
  max-width: 100%;
  height: 100%;
}

#aj {
  height: 100%;
  padding: 2rem 1rem;
  text-align: center;
  color: white;
}
.pr2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding: 25px 0 0 0;
}
.decouvrir {
  color: #000 !important;
  border: none !important;
  position: absolute;
  padding: 0 !important;
}
.details {
  padding-top: 10%;
}
/*==MEDIAQUERRY==*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .acceuil .des {
    padding: 5vh 2vw 10vh 2vw;
  }
  .acceuil .des h1 {
    font-size: 10vw !important;
  }
  .apropos .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav h2 {
    font-size: 7vw;
  }
  .connect label{
    font-size: 10vw;
    
  }
  .blo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 4vh 0;
  }
  .b11{

    padding-top: 4vh;
  }
  .fff{
width: 100%;


  }
  #input{
    width: 95%;
  }

  .ajou {
    padding: 7vh 4vw;
  }
  .cont {
    padding: 7vh 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .apropos .presentation .texte h1,
  .afficher h1 {
    font-size: 13vw;
  }
  .apropos .presentation .locale {
    width: 100%;
  }

  .footer .lien {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .introuvable {
    padding: 7vh 4vw;
  }
  .introuvable h1 {
    font-size: 14vw;
  }
  .blog1 {
    padding: 5vh 4vw 10vh 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20x;
  }
  .sta {
    padding: 5vh 4vw 10vh 4vw;
  }
  .sta h1 {
    font-size: 13vw;
  }
  .sta1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 10vh 0 5vh 0;
  }
  .charti {
    padding: 0 4vw 5vh 4vw;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .raportt {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .stati {
    padding: 5vh 4vw 10vh 4vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .r1 h1 {
    font-size: 10vw;
    width: 100%;
  }
  .wrapper {
    padding: 2vh 2vw;
  }
  .name {
    font-size: 8vw;
  }
  .ChatBot {
    padding: 6vh 6vw;
  }
  .afficher {
    padding: 8vh 6vw 15vh 6vw;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
    padding-top: 4vh;
  }
  .decouvrir {
    top: 2%;
    right: 12%;
  }
  .c1 {
    padding: 8vh 6vw 15vh 6vw;
  }
  .c2 h1 {
    font-size: 15vw;
  }

  .id1 .container {
    padding: 4vh 0;
  }

  .id1 {
    padding: 7vh 4vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .acceuil .des {
    padding: 5vh 2vw 10vh 2vw;
  }
  .acceuil .des h1 {
    font-size: 10vw;
  }
  .c2 h1 {
    font-size: 9vw;
  }
  .apropos .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cont {
    padding: 7vh 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .connect label{
    font-size: 10vw;
    
  }
  .blo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 4vh 0;
  }
  .fff{
    width: 100%;
  }
  #input{
    width: 97%;
  }
  .b11{

    padding-top: 4vh;
  }
  .apropos .presentation .texte h1 {
    font-size: 13vw;
  }
  .apropos .presentation .locale {
    width: 100%;
  }

  .footer .lien {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .introuvable {
    padding: 7vh 4vw;
  }
  .introuvable h1 {
    font-size: 12vw;
  }
  .blog1 {
    padding: 5vh 4vw 10vh 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .sta {
    padding: 5vh 4vw 10vh 4vw;
  }
  .sta h1 {
    font-size: 13vw;
  }
  .sta1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10vh 0 5vh 0;
  }
  .charti {
    padding: 0 4vw 5vh 4vw;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .raportt {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .stati {
    padding: 5vh 4vw 10vh 4vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .r1 h1 {
    font-size: 10vw;
    width: 100%;
  }
  .wrapper {
    padding: 2vh 2vw;
  }
  .name {
    font-size: 6vw;
  }
  .ChatBot {
    padding: 6vh 6vw;
  }
  .wrapper .content .bottom .btm .input input {
    width: 190%;
  }
  .afficher h1 {
    font-size: 8vw;
  }
  .afficher {
    padding: 8vh 6vw 15vh 6vw;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 140px;
    padding-top: 7vh;
  }
  .decouvrir {
    top: 5%;
    
    right: 12%;
  }
  .ajou {
    padding: 7vh 4vw;
  }
  .c1 {
    padding: 8vh 6vw 15vh 6vw;
  }

  .id1 .container {
    padding: 4vh 0;
  }

  .id1 {
    padding: 7vh 4vw;
  }
}
@media screen and (min-width: 769px) {
  .acceuil .des {
    padding: 3vh 2vw 25vh 2vw;
  }
  .acceuil .des h1 {
    font-size: 5vw;
  }
  .connect label{
    font-size: 3vw;
    
  }
  .acceuil .des p {
    font-size: 2vw;
    margin-bottom: 12vh;
  }
  .collection h2{
font-size: 1.6vw;
  }
  .apropos .presentation {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 22vh 4vw;
    gap: 30px;
  }
  .fff {

   transform: translate(50%, 30%);
    width: 50%;
    height: 70%;
    padding: 5rem;
 
  }
  .cont {
    padding: 0vh 4vw 10vh 4vw;
  }
  .apropos .presentation .texte h1 {
    font-size: 5vw;
    margin: 0;
  }
  .apropos .presentation .locale {
    width: 100%;
  }
  .blog1 {
    padding: 7vh 4vw;
    line-height: 3vh;
  }
  .blog1 h1 {
    font-size: 3.6vw;
    margin-bottom: 5vh;
  }
  .blog .b1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .blog h3 {
    padding: 5vh 0;
    font-size: 2vw !important;
  }
  .blog1 .blo  #boxi > img {
    height: 50vh;
  }
.tete{
  padding: 3vh 0;
}
  .apropos .presentation .texte p {
    font-size: 1.4vw;
    line-height: 3vw;
  }
  .footer .lien {
    padding: 2vh 4vw;
  }
  .footer .lien {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .introuvable {
    padding: 7vh 4vw;
  }
  .introuvable h1 {
    font-size: 7vw;
  }
  .sta {
    padding: 5vh 4vw 10vh 4vw;
  }
  .sta h1,
  .afficher h1 {
    font-size: 3.8vw;
  }
  .sta1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10vh 0 5vh 0;
  }
  .charti {
    padding: 0 7vw 5vh 7vw;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 70px;
  }
  .raportt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .stati {
    padding: 5vh 4vw 10vh 4vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .r1 h1 {
    font-size: 2vw;
    width: 100%;
  }

  .statimg img {
    height: 30vh;
  }
  .cards {
    width: 100%;
    height: 150%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 180px;
    padding-top: 10vh;
  }
  .c1 {
    padding: 8vh 6vw 15vh 6vw;
  }
  .c2 h1 {
    font-size: 4.5vw;
  }

  .afficher {
    padding: 7vh 4vw 20vh 4vw;
  }

  .main1 {
    width: 45%;
  }
  .wrapper {
    padding: 4vh 2vw;
    width: 50%;
  }
  #input{
    width: 97%;
  }
  .name {
    font-size: 1.7vw;
  }
  .ChatBot {
    padding: 14vh 2vw 16vh 2vw;
  }
  .sign {
    padding: 9vh 5vw 6vh 0vw;
  }
  .wrapper .content .bottom .btm .input input {
    width: 150%;
  }
  .s1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .ajou {
    padding: 14vh 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .decouvrir {
    top: 10%;
    right: 15%;
  }
  .id1 .container {
    width: 40%;
    margin: auto;
    padding: 6vh;
  }
  .pr1 {
    text-align: center;
  }

  .id22 {
    width: 50%;
    margin: auto;
  }
  .id1 {
    padding: 7vh;
  }
}
@media screen and (min-width: 1024px) {
  .footer .lien {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
.conn{
  display: none;
}
}
@media screen and (max-width: 1024px) {
  nav .part1 .cordo ,
  nav .part1 .outils .icons,
  nav .part2 ul {
    display: none;
  }

  #oo{
    display: block;
  }
  nav .part1 .outils {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  nav {
    padding: 1rem;
  }
}
